.admin_add_user_button{
    color:white !important;
    background-color: gray !important;
    border-radius: 10px !important;
    margin:10px;
}

.buttons_container{
    display:flex;
    gap:10px;
}

.user_edit_button, .user_delete_button,.user_edit_accept_button,.user_edit_decline_button{
    color:black !important;
    border-radius: 10px !important;
}

.user_edit_button:hover{
    background-color: rgb(222, 222, 255) !important;
    color:blue !important;
}

.user_delete_button:hover{
    background-color: rgb(246, 222, 222) !important;
    color:red !important;
}

.user_edit_accept_button:hover{
    background-color: rgb(220, 252, 220) !important;
    color:green !important;
}

.user_edit_decline_button:hover{
    background-color: rgb(246, 222, 222) !important;
    color:red !important;
}

.admin-panel {
    padding: 20px;
}

.tabs {
    display: flex;
    margin-bottom: 20px;
}

.tab-button {
    background: none;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 16px;
}

.tab-button.active {
    font-weight: bold;
    border-bottom: 2px solid #000;
}

.tab-content {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.open_modal_button{
    background-color:rgb(234, 234, 234) !important;
    color:black !important;
}

.open_modal_button:hover{
    background-color:rgb(216, 214, 214) !important;
}